*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:#fff;
}
body{background:#222845;}
#wrap{
    width:800px;
    margin: 0 auto;
    position:relative;
    padding:30px 0;
    text-align: center;
}
#main_title{
    display:inline-block;
    padding:5px 20px;
    width:380px;
    border-bottom:2px double #aaa;
}
#search_wrap{
    position: relative;
    width:100%;
}
.search_input{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px 0;
}
#detail_bt{
    margin-left:10px;
    padding:5px 8px;
    background:LightCoral;
    border:0;
    border-radius: 5px;
    color:#fff;
    font-weight:900;cursor:pointer;
}
.word_box{
    padding:3px 5px;
    border:1px solid #aaa;
    border-radius: 5px;
    width:300px;display:flex;
}
.word_box input{border:0; outline: none; width:90%; padding:0 5px;background:transparent;}
.word_box i{width:10%; cursor:pointer;}
.search_detail{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: start;
    padding:5px 200px;
    row-gap: 10px;
}
.search_detail label{display:inline-block; width:50px;}
.search_detail input{width:80px; color:#222845;padding-left:4px;}

#cls{color:#222845;width:80px;}
#cls option{color:#222845;}

.chartMakeBt{
    position: absolute;
    top: 3px;
    left: 750px;
    z-index:100;
}
#chartBt{
    background:LightCoral;
    width: 50px;
    height: 30px;
    border:0;
    border-radius: 5px;
    color:#fff;
    font-size: 18px;
    font-weight:900;cursor:pointer;
}
#list_wrap{
    margin:30px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    row-gap:20px;
}
.info{
    width:220px;
    border:1px solid #aaa;
    border-radius: 10px;
    padding:10px 20px;
    text-align: left;
}
.info .name{ display:inline-block; padding:0 10px; font-size:25px;}
.info ul{list-style: none;}

#student_chart{
    width: 800px;
    height: 500px;
}